################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Test4Git/.vs/Test4Git
/Test4Git/Test4Git/bin/Debug/net6.0
/Test4Git/Test4Git/obj
/FibApp/.vs/FibApp
/FibApp/FibApp/bin/Debug/net6.0
/FibApp/FibApp/obj
/Test4Git/.vs/ProjectEvaluation
/ArrayApp/.vs
/ArrayApp/ArrayApp/bin/Debug/net6.0
/ArrayApp/ArrayApp/obj
/FibApp/.vs/ProjectEvaluation
/SortedArrs/.vs
/SortedArrs/SortedArrs/bin/Debug/net6.0
/SortedArrs/SortedArrs/obj
/MatrApp/.vs/MatrApp/v17
/MatrApp/MatrApp/bin/Debug/net6.0
/MatrApp/MatrApp/obj
/MatrApp/.vs
/StringAndLists/.vs/StringAndLists
/StringAndLists/StringAndLists/bin/Debug/net6.0
/StringAndLists/StringAndLists/obj
/FilesApp/.vs/FilesApp
/FilesApp/FilesApp/bin/Debug/net6.0
/FilesApp/FilesApp/obj
/StringAndLists/.vs/ProjectEvaluation
